<!-- Styles for publications moved to main.scss for SCSS variable support -->

<div class="row g-5 mb-5">
  <div>
    <button class="dropdown-btn" onclick="togglePubsList()" id="pubsDropdownBtn">Show All Publications</button>
    <div id="featuredPubs" class="pubs-list active">
      {% for item in site.data.publications.featured %}
      <div class="pubs">
        <div class="teaser"><img src="{{ site.github.url }}{{ item.teaser }}" alt="teaser"></div>
        <div class="contents">
          <div class="title"><a href="{{ item.url }}">{{ item.name }}</a></div>
          <div class="author">
            <p>{{ item.author }}</p>
          </div>
          <div class="place">
            <p><em>{{ item.booktitle }}</em>, {{ item.year }}</p>
          </div>
          <ul class="links">
            <li><a href="{{ item.url }}">Project Page</a></li>
            <li><a href="#">Paper</a></li>
            <li><a href="#">Supp</a></li>
            <li><a href="#">Video</a></li>
          </ul>
        </div>
      </div>
      {% endfor %}
    </div>
    <div id="allPubs" class="pubs-list">
      {% for item in site.data.publications.index %}
      <div class="pubs">
        <div class="teaser"><img src="{{ site.github.url }}{{ item.teaser }}" alt="teaser"></div>
        <div class="contents">
          <div class="title"><a href="{{ item.url }}">{{ item.name }}</a></div>
          <div class="author">
            <p>{{ item.author }}</p>
          </div>
          <div class="place">
            <p><em>{{ item.booktitle }}</em>, {{ item.year }}</p>
          </div>
          <ul class="links">
            <li><a href="{{ item.url }}">Project Page</a></li>
            <li><a href="#">Paper</a></li>
            <li><a href="#">Supp</a></li>
            <li><a href="#">Video</a></li>
          </ul>
        </div>
      </div>
      {% endfor %}
    </div>
    <script>
      function togglePubsList() {
        var featured = document.getElementById('featuredPubs');
        var all = document.getElementById('allPubs');
        var btn = document.getElementById('pubsDropdownBtn');
        if (featured.classList.contains('active')) {
          featured.classList.remove('active');
          all.classList.add('active');
          btn.textContent = 'Show Featured Only';
        } else {
          featured.classList.add('active');
          all.classList.remove('active');
          btn.textContent = 'Show All Publications';
        }
      }
    </script>
  </div>
</div>
